* {
  color: #CCCCCC;
  background-color: #505050;
  font-size: 3vh;
  }

.td {
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

.no-click {
  text-decoration: none;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.force-dark-color {
  background-color: #505050 !important;
}

.no-border-color {
  border-top: 5px solid #505050 !important;
  margin-top: 5px solid #505050 !important;
  padding-top: 5px solid #505050 !important;
}

.sm-b-border{
  border-bottom: 1px solid #CCCCCC !important;
}

h1 {
  color: #CCCCCC !important;
}
